/* 
 * Maintainer: Nishikata Hijiri
 * Last Modified: 2015-02-24T16:05:33
 */


/* Navigation Bar */
.nav a {
   color: #5a5a5a;
   font-size: 11px;
   font-weight: bold;
   padding: 14px 10px;
   text-transform: uppercase;
}

.nav li {
   display: inline;
}


/* Jumbotron Title Panel */
.jumbotron {
   height: 500px;
   background-image: url("theme.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}

.jumbotron .container {
   position: relative;
   top: 100px;
}

.jumbotron h1 {
   color: black;
   font-size: 48px;
   font-weight: bold;
   font-family: "Shift", sans-serif;
}

.jumbotron p {
   color: black;
   font-size: 20px;
}

.jumbotron a {
   color: green;
   bottom: 100px;
   position: absolute;
   top: 130px;
}


/* Access more information panel */
.learn-more {
   background-color: #f7f7f7;
}


.learn-more h3 {
   font-size: 18px;
   font-weight: bold;
   font-family: "Shift", sans-serif;
}

.learn-more a {
   color: #00b0ff;
}
